/* 

	 MJM main CSS file 
	 =================

*/

/* Document */
body { 
	 font-family: "Georgia", "Palatino", "Book Antiqua", serif;
	 margin: 90px 12% 2em 12%;
	 max-width: 44em;
	 background-image: url("pix/brown_border.jpg");
	 background-repeat: repeat-x;
	 text-align: left;
	 color: #111111; 
	 background-color: #FBF7E9;
/*	 background-color: #FAEBD7;*/
	 line-height: 1.6em; 
	 font-size: 9pt;
}
li { list-style-position: outside; }
strong, b { 
	 font-weight: bold; 
	 color: #444444; 
	 background-color: inherit; 
}

/* Links */
a { 
	 color: #AA0000; 
	 background-color: inherit; 
	 text-decoration: none; 
}
a:visited { 
	 color: #996600; 
	 background-color: inherit; 
}
a:active { 
	 color: #0022AA; 
	 background-color: inherit; 
	 text-decoration: none; 
}
a:hover { 
	 border-bottom: dashed; 
	 border-color: #888888; 
	 border-width: 1px; 
}

/* Headings */
h1 { 
	 font-weight: bold; 
	 color: #000000; 
	 background-color: inherit; 
	 margin-bottom: 1.5em; 
	 font-size: 180%; 
	 line-height: 1.4em; 
}
h2 { 
	 font-weight: bold; 
	 color: #2c4c85; 
	 background-color: inherit; 
	 margin-top: 1.6em; 
	 font-size: 120%; 
	 line-height: 1.4em; 
}
h3 { 
	 font-weight: bold; 
	 font-style: normal;
	 color: #444444; 
	 background-color: inherit; 
	 font-size: inherit; 
	 font-size: 110%; 
}

/* Body styles */
.abs { 
	 color: #404040;
	 background-color: inherit; 
	 font-size: 8.5pt; 
	 line-height: inherit;
	 margin-left: 1.5em;
}
.sc { font-variant: small-caps; }
.strikeout { text-decoration: line-through; }

/* Picture */	 
.picture {
	 float: right;
	 /* width: 140px; */ /* why was this ever here, anyway? */
	 margin-left: 1em;
	 margin-bottom: 1em;
	 padding-bottom: 1.5ex;
	 border-bottom: 1px solid #888888;
	 color: #2c4c85;	
	 background-color: inherit; 
	 font-family: Arial, Helvetica, sans-serif; /* Firefox likes Arial; ugh */
	 font-size: 85%; 
	 line-height: 1.3em; 
}
.picture img { 
	 border: 1px solid #888888; 
	 margin-bottom: 0.5ex; 
}
.picture em { font-style: normal; }

/* Footer */
.footer { 
	 margin-top: 4.5em; 
	 text-align: right; 
	 font-style: normal;
	 color: #2c4c85;
	 background-color: inherit; 
	 font-family: Arial, Helvetica, sans-serif; /* Firefox likes Arial; ugh */
	 font-size: xx-small; 
}
.footer hr {
	 border-top: 1px solid #888888;
	 border-bottom-width: 0px;	  /* doing things this way rather than all at */
	 border-left-width: 0px;	  /* once is nec for Firefox						 */
	 border-right-width: 0px;
	 color: #FAEBD7;				  /* this helps with old versions of Explorer */
	 background-color: inherit; 
}
